body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1f2937;
}

/* header */

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 150px;
}

.header h3 {
  font-size: 24px;
  color: #f9faf8;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 30px;

  font-size: 18px;
  color: #e5e7eb;
}

.header ul a {
  text-decoration: none;
  color: inherit;
}

/* introduction and logo */

.introduction {
  background-color: #1f2937;
  display: flex;
  padding: 25px 150px;
  flex-direction: row;
}

.introduction .logo {
  flex-direction: column;
}

.introduction img {
  height: 300px;
  width: auto;
  flex: 1 1 auto;

  border: 1px solid rgb(0, 0, 0, 0);
  border-radius: 20px;
}

.logo h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.logo p {
  font-size: 18px;
  color: #e5e7eb;
}

.introduction h3 {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  max-width: 100px;

  border: 1px solid rgb(0, 0, 0, 0);
  border-radius: 10px;
  text-align: center;
}

/*the rest*/

.body {
  background-color: #f9faf8;
}

.quote {
  background-color: #e5e7eb;
}

.footer {
  background-color: #f9faf8;
}

.footer div {
  background-color: #1f2937;
}
