body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1f2937;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px clamp(20px, 5vw, 200px);
  margin: 0;
}

.header h3 {
  color: #e5e7eb;
  font-size: 14px;
}

.header ul {
  list-style: none;
  font-size: 14px;
  color: #e5e7eb;
  column-gap: 15px;
  display: flex;
}

.header a {
  text-decoration: none;
  color: inherit;
}

/* introduction and logo */

.introduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px clamp(20px, 5vw, 100px);
  margin: 0;
}

.introduction a {
  text-decoration: none;
  color: inherit;
}

.introduction .logo h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.introduction .logo p {
  color: #e5e7eb;
  font-size: 14px;
}

.introduction .logo h3 {
  color: #f9faf8;
  background-color: #3882f6;
  border-radius: 10px;
  text-align: center;

  font-size: 14px;
  padding: 10px;
  max-width: 60px;
}

.introduction .logo h3:hover {
  background-color:  #1e40af;
  text-decoration: underline;
}

.introduction img {
  width: 100%;
  max-width: 480px;
  height: auto;
  margin: 0 auto;

  border-radius: 20px;
}

/* content */

.content {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: space-between;
  align-items: center;

  padding-top: 10px;
  padding-bottom: 10px;
}

.content h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.content ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.content img {
  width: 100%;
  max-width: 150px;
  height: auto;

  border-radius: 20px;
}

.content p {
  text-align: center;
  font-size: 14px;
  color: darkgray;
  max-width: 150px;
}

/* Quote */

.quote {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  font-weight: 1;
  font-style: italic;

  justify-content: space-between;
  align-items: center;

  padding: 10em;
}

.quote p {
  font-size: 24px;
  font-style: italic;
  color: #1f2937;
}

.quote h3 {
  font-size: 14px;
  color: #1f2939;
}

/* footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
  font-size: 14px;

  padding-left: 100px;
  padding-right: 100px;
  padding-top: 75px;
  padding-bottom: 75px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  background-color: #3882f6;

  padding-left: 15em;
  padding-right: 15em;
  padding-top: 3em;
  padding-bottom: 3em;

  color: #e5e7eb;
  border-radius: 10px;
  gap: 20px;
}

.footer h3 {
  margin: 0;
  font-weight: 900;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 25px;

  border: 2px solid white;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  padding: 1px;
}

.sign-up a {
  text-decoration: none;
  color: inherit;
}

.sign-up:hover {
  text-decoration: underline;
  background-color: #1e40af;
}

/* copyright */

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: #1f2937;
  font-size: 14px;
  color: #e5e7eb;
}
